html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

 

  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #010846;
    border-radius: 5rem;
  }
  .header {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  
  .header.active {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: #130f40;
    font-weight: bolder;
  }
  
  .header .logo i {
    color: #38312c;
  }
  
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #666;
  }
  
  .header .navbar a:hover {
    color: #02108d;
  }
  
  .header .icons a,
  .header .icons div {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: #130f40;
    cursor: pointer;
  }
  
  .header .icons a:hover,
  .header .icons div:hover {
    color: #02108d;
  }
  
  .header .login-form {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 35rem;
    border-radius: 1rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: none;
  }
  
  .header .login-form.active {
    display: block;
    -webkit-animation: fadeIn .4s linear;
            animation: fadeIn .4s linear;
  }
  
  .header .login-form h3 {
    color: #130f40;
    font-size: 2.5rem;
    padding-bottom: .5rem;
  }
  
  .header .login-form .box {
    width: 100%;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    margin: 1rem 0;
  }
  
  .header .login-form .remember {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    padding: 1rem 0;
  }
  
  .header .login-form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .header .login-form .btn {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .header .login-form .btn:hover {
    background: #130f40;
  }
  
  .header .login-form .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
  
  .header .login-form .links a {
    font-size: 1.4rem;
    color: #000983;
  }
  
  .header .login-form .links a:hover {
    color: #130f40;
    text-decoration: underline;
  }
  
  #menu-btn {
    display: none;
  }
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .sidebar{

    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      margin: -1.25rem;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 50%;
    }
    .header .login-form {
      width: 90%;
    }

    .openbtn{
        visibility: visible;
    }
  }  




